@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #FCFAF9;
}

@font-face {
    font-family: 'DancingScript';
    src: url('./assets/DancingScript-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Urbanist';
    src: url('./assets/Urbanist-Regular.ttf') format('truetype');
}